
run = "python agent.py"
modules = ["python-3.11", "postgresql-16", "nodejs-18.x"]

[nix]
channel = "stable-24_05"
packages = ["bash", "glibcLocales", "libxcrypt", "libyaml", "nodejs"]

[deployment]
run = ["sh", "-c", "python oauth_slack.py"]
build = ["sh", "-c", "bash setup.sh"]

[workflows]
runButton = "Run Agent"

[[workflows.workflow]]
name = "Run Agent"
author = 17731565
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python agent.py"

[[workflows.workflow]]
name = "Run OAuth Slackbot"
author = 17731565
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python oauth_slack.py"

[[workflows.workflow]]
name = "Run Phoenix + Evaluation"
author = 17731565
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python evaluate.py"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 6006
externalPort = 3000
