run = "python start_deployment.py"
modules = ["python-3.11", "postgresql-16", "nodejs-18.x"]

[nix]
channel  = "stable-24_05"
packages = ["bash", "glibcLocales", "libxcrypt", "libyaml", "nodejs"]

[deployment]
run = ["sh", "-c", "streamlit run streamlit_app.py --server.address 0.0.0.0 --server.port 5000"]
build = ["sh", "-c", "bash setup.sh"]

[workflows]
runButton = "Run Agent"

[[workflows.workflow]]
name = "Run Agent"
author = 17731565
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Run OAuth Slackbot"
author = 17731565
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python oauth_slack.py"

[[workflows.workflow]]
name = "Run Phoenix + Evaluation"
author = 17731565
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python evaluate.py"

[[workflows.workflow]]
name = "Run Streamlit Chat"
author = 17731565
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run streamlit_app.py --server.address 0.0.0.0 --server.port 5000 --server.headless true --server.enableCORS=false --server.enableWebsocketCompression=false --server.fileWatcherType none --server.runOnSave false"

[[ports]]
localPort = 5000
externalPort = 80
